

li {
  list-style-type: none;
  padding: 10px;
  position: relative;
}

.large {
  position: absolute;
  top:120px;
  left: -9999px;
}
.workspace {
  position: absolute;
  left: -9999px;
   background-color:white;
}
td:hover .large {

  left: 200px;



}
td:hover .workspace {
  top:100px;
  left: 10px;
}
.large-image {
    width:50%;
    height:50%;

  border-radius: 4px;
   box-shadow: 1px 1px 3px 3px rgba(127, 127, 127, 0.15);;

}

.large-text {
    width:100%;
    height:100%;
  border-radius: 4px;
   box-shadow: 1px 1px 3px 3px rgba(127, 127, 127, 0.15);;

}

tr:hover
{
background-color:#f1f1f1;
cursor: pointer;
}

.header
{
height: 50px;
font-size: 20px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    background-color: #fafafb;
border-top: 3px solid #F48024;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: rgb(244, 128, 36);

}
.title
{
    margin:8px 3px 10px;
}
.isSelected {
  background-color: #ceee9082;
}

.column-exam {
  float: left;
  width: 30%;
  padding: 20px;
  border-right-color: #eee;
    border-right-width: 1px;
    border-right-style: solid;

}

.column-question {
  float: left;
  width: 70%;
  padding: 10px;
}

.messages {
  background-color:#f2dede;
  color:#942222
}
.activeButton {
     padding: 7px 9px;
     background-color:#f2dede;
     color:red;
     border: 1px solid #eee;
     border-radius: 4px;
}
.btn1 {
background-image: linear-gradient(#fcfcfc,#eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    text-decoration: none;
    border-color: #51a7e8;
    outline: none;
    box-shadow: 0 0 5px rgba(81,167,232,.5);

}


.submit-row-left {
    padding: 12px 14px;
    margin: 0 0 20px;
    background: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 4px;
    /* text-align: right; */
    overflow: hidden;
}

